<div class="killgamebg" ng-controller="killGamesetup1Ctrl">
    <div class="exitgamehome"  ng-click="exitgamehome()">
     
    </div>


<iframe
    allowtransparency="true"
    style="background: transparent;"
    src="partials/killer/killstep1.html"
    scrolling="yes" frameborder="0" height="568" width="320" scrolling="auto">
</iframe>


<div class="kill-bottom">
    
    
    <span class="fgql" ng-click="fgql()">
        <span class="playkillgame" ng-click="startplay()">
        </span>
    
    </span>
    
    
</div>

</div>
