<div  class="dice-list__container list" >
    <div class="dice-navigation-bar">
        
        
    </div>
    
    
    <div class="dice-menup-bar" ng-controller="diceGamesetup2Ctrl">
        
        <div style ="margin:20px;">
            &nbsp;&nbsp;
        </div>
        
        <div style ="margin:20px;"  ng-repeat="item in items">
            <B>{{item.username}}</B>
        </div>
    </div>
    
    
    
    <div  class="dice-menu-bar-btn">
        
        
        <div  class="dice-menu-bar-start" ng-click="slidePage('/dice3viewbdxsend')">
            &nbsp;&nbsp;
            
        </div>
        
    </div>
    
</div>

