<div  class="dice-list__container list" ng-controller="diceGamesetupbdxCtrl">
    <div class="dice-navigation-bar">
        
        
    </div>
    
    
    <div class="dice-num-menu-bar">
        <div style="margin-top:60px;display:block;">
            &nbsp;&nbsp;<br><br>
        </div>
        
        <div style="padding-left:23px;">
            <img class="imgcdice" ng-click="dicenum1()" src="{{ dice1 }}"/>
            <img class="imgcdice" ng-click="dicenum2()" src="{{ dice2 }}"/>
            <img class="imgcdice" ng-click="dicenum3()" src="{{ dice3 }}"/>
            <img class="imgcdice" ng-click="dicenum4()" src="{{ dice4 }}"/>
            <img class="imgcdice" ng-click="dicenum5()" src="{{ dice5 }}"/>
            <img class="imgcdice" ng-click="dicenum6()" src="{{ dice6 }}"/>
        </div>
        
        
    </div>
    
    
</div>

