<div  class="dice-list__container list" ng-controller="diceGamesetup4Ctrl">
    <div class="dice-navigation-bar">
        
       <div class="dice-exitgame-btn" ng-click="exitgamehome()"></div>
       
    </div>
<div class="dice-menu-jieguo-bar">
    
    <div style ="margin:10px;">
     
   
   <iframe allowtransparency="true"style="margin-right:80px;margin-top:39px; background: transparent;" src="partials/dicegame/diceviewc3b.html" width="150" height="240" scrolling="yes" frameborder="0"></iframe>
   
     <br>

     <br>
    
    
    </div>

</div>


<div class="dice-menu-bar-ag" >
    
    <div class="dice-menu-bar-start" ng-click="slidePage('/diceviewc1')">
        &nbsp;&nbsp;
        
    </div>
    

   <div class="dice-menu-bar-dmx" ng-click="slidePage('/dmxview')">
    &nbsp;&nbsp;
    
   </div>

</div>

</div>

