<div  class="dice-list__container list" >
    <div class="dice-navigation-bar">
    </div>
    
    
    <div ng-controller="diceGamedice3Ctrl">
        <div CLASS="dice-area">
            <img src="{{ dice1 }}"/>
            <img src="{{ dice2 }}"/>
            <img src="{{ dice3 }}"/>
         
            
            
            
            
            
        </div>
        
        <div class="dice-menu-open-btn" >
            
            <div class="roll-button-icon">
                
            </div>
            <div   class="dice-menu-bar-start" ng-click="senddicenum()">
                
                
            </div>
        </div>
        
    </div>
    
</div>
