<div class="loginpage"  ng-controller="LoginCtrl">
    <div class="new-navigation-bar" >
        <div class="new-navigation-bar__item left quarter">
            <a class="new-icon-button--quiet">
                
            </a>
        </div>
        <div class="new-navigation-bar__item center half">
            <h1 class="new-navigation-bar__title">用户登录</h1>
        </div>
        <div class="new-navigation-bar__item right quarter">
            <a ng-click="uulogin()">下一步</a>
        </div>
    </div>


     <div   class="centerize" style="margin-top:20px;">
  
     <input
         type="tel"
         required
         class="new-text-input"
         value=""
         ng-model="formData.tel"
         placeholder="请输入手机号码">


     </div>
     <lable style="width:320px; padding-left:60px; text-align: center; " ng-show="message">{{ message }}</lable>
     <div class=jujulogo>
     </div>
</div>



