<div ng-controller="WhoiswosetupCtrl" class="whoiswobg">
    
    <div class="new-navigation-bar" >
        <div class="new-navigation-bar__item left quarter">
            <a class="new-icon-button--quiet" ng-click="exitgamehome()">
                <
                    </a>
                    </div>
        <div class="new-navigation-bar__item center half">
            <h1 class="new-navigation-bar__title">谁是卧底</h1>
        </div>
        <div class="new-navigation-bar__item right quarter">
        </div>
    </div>
 <iframe
     allowtransparency="true"
     style="background: transparent;"
     src="partials/whoiswo/fguserlist.html"
     scrolling="yes" frameborder="0" height="568" width="320" scrolling="auto">
 </iframe>
 
 <div style="position:fixed; top:500px; left:0; width:100%;padding:10px;" >
     
     <div ng-click="slidePage('/whoiswowo')" style="border-radius: 6px;float:left;font-weight:bold;width:140px;color:white;padding:10px;background-color:#FF6600;text-align:center;margin-left:80px;">
         
         法官确定</div>
     

 </div>

</div>