<div ng-controller="WhoiswosetupCtrl" class="whoiswobg">
    
    <div class="new-navigation-bar" >
        <div class="new-navigation-bar__item left quarter">
            <a class="new-icon-button--quiet" ng-click="exitgamehome()">
                <
                    </a>
                    </div>
        <div class="new-navigation-bar__item center half">
            <h1 class="new-navigation-bar__title">谁是卧底</h1>
        </div>
        <div class="new-navigation-bar__item right quarter">
        </div>
    </div>
 <iframe
     allowtransparency="true"
     style="background: transparent;"
     src="partials/whoiswo/fguserlist.html"
     scrolling="yes" frameborder="0" height="568" width="320" scrolling="auto">
 </iframe>
 


</div>