<div class="whoiswobg">
<div class="new-navigation-bar" ng-controller="HomeCtrl">
    <div class="new-navigation-bar__item left quarter">
        <a class="new-icon-button--quiet" >
            
        </a>
    </div>
    <div class="new-navigation-bar__item center half">
        <h1 class="new-navigation-bar__title">卧底游戏进行中</h1>
    </div>
    <div class="new-navigation-bar__item right quarter">
         </div>
</div>

<div ng-controller="WhoiswoingCtrl">
 <lable class="new-text-input" ng-show="message">{{ message }}</lable>
 
 <iframe
     allowtransparency="true"
     style="background: transparent;"
     src="partials/whoiswo/userlist2.html"
     scrolling="yes" frameborder="0" height="500" width="320"  scrolling="auto">
 </iframe>
 
 
</div>
</div>