<div ng-controller="WhoiswosetupCtrl" class="whoiswobg">
    
    <div class="new-navigation-bar" >
        <div class="new-navigation-bar__item left quarter">
            <a class="new-icon-button--quiet" ng-click="exitgamehome()">
                <
                    </a>
                    </div>
        <div class="new-navigation-bar__item center half">
            <h1 class="new-navigation-bar__title">谁是卧底</h1>
        </div>
        <div class="new-navigation-bar__item right quarter">
        </div>
    </div>
 <iframe
     allowtransparency="true"
     style="background: transparent;"
     src="partials/whoiswo/userlist.html"
     scrolling="yes" frameborder="0" height="568" width="320" scrolling="auto">
 </iframe>
 
 <div style="position:fixed; top:500px; left:0; width:100%;padding:10px;">
     
     <div style="border-radius: 6px;float:left;font-weight:bold;width:100px;color:white;padding:10px;background-color:#FF6600;text-align:center;margin-left:30px;">
         <a  ng-click="slidePage('/whoiswofg')">法官权利</a></div>
     
     <div style="border-radius: 6px;float:left;font-weight:bold;width:100px;color:white;padding:10px;background-color:#FF3333;text-align:center;margin-left:20px;">
        
         <a  ng-click="slidePage('/cchh')">确认昵称</a>
         
         
     </div>
 </div>

</div>