<div class="whoiswobg">


<iframe
    allowtransparency="true"
    style="background: transparent;"
    src="partials/whoiswo/userlist3.html"
    scrolling="yes" frameborder="0" height="300" scrolling="auto">
</iframe>

<div style="position:fixed; top:500px; left:0; width:100%;padding:10px;" ng-controller="WhoiswoplayergameoverCtrl">
    

    
    <div style="border-radius: 6px;float:left;font-weight:bold;width:260px;color:white;padding:10px;background-color:#FF3333;text-align:center;margin-left:10px;">
        
        <a ng-click="playgo2()" >再来一局</a>
        
        
    </div>
</div>
</div>
