<!DOCTYPE html>
<html>
    <head>
        <script src="../jquery.js"></script>
        <script>
            $(document).ready(function(){
  var div=$("div");
 div.animate({height:'300px',opacity:'0.4'},"slow");
 div.animate({width:'300px',opacity:'0.8'},"slow");
 div.animate({height:'300px',opacity:'0.4'},"slow");
 div.animate({width:'300px',opacity:'0.8'},"slow");
                                                                              });
            </script> 
    </head>
    <style>
        .wwin{
      background:#98bf21;
      height:300px;
      width:300px;
      position:absolute;
       background-image: url("./pwin.png");
      
        }
        </style>
    <body>
        
      <div class="wwin">
      
      </div>
        
    </body>
</html>
